a {
    text-decoration: none;
    color: #2E2F42;;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-nav-menu a{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.info-adress-item a{
    color:#434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.header-nav-menu a:hover,
.header-nav-menu a:focus{
    color: #404BBF;
}

 .info-adress-item a:hover,
 .info-adress-item a:focus {
     color: #404BBF;
 }
